* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YeHei", STXihei, Arial, Helvetica, sans-serif;
  color: white;
}

body {
  height: 100%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input, textarea {
  outline: none;
  border: none;
}

.no-select {
  user-select: none;
}

.f-left, .f-l {
  float: left;
}

.f-right, .f-r {
  float: right;
}
