.header {
  height: 60px;
  width: 100vw;
  background-color: #b52820;
  z-index: 100;
  cursor: default;
}

.bar-sec {
  padding-top: 30px;
  display: inline-block;
}

.inline {
  display: inline-block;
}

.left-sec {
  position: relative;
  width: calc(100vw - 60px);
  height: 100%;
  border-right: 1px solid #95211a;
  padding-right: 20px;
}

.router-search-wp {
  position: absolute;
  top: 28px;
  left: 240px;
}

.search-ipt {
  margin-left: 20px;
  padding: 5px 10px 5px 25px;
  width: 200px;
  border-radius: 50px;
}

.main {
  height: calc(100vh - 65px - 60px);
  overflow: hidden;
  margin-bottom: -65px;
}

.main-pad {
  display: inline-block;
  height: calc(100vh - 65px - 60px);
}

.left-pad {
  padding-top: 5px;
  width: 200px;
  border-right: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.48);
}

.items-pad {
  height: calc(100vh - 65px - 60px - 86px);
  overflow: hidden;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.list-name {
  font-size: 12px;
  padding: 0 12px;
  color: #888;
  margin-bottom: 10px;
}

.list-item {
  color: #444;
  font-size: 13px;
  padding: 5px 10px 5px 22px;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.active-item {
  background: rgba(0, 0, 0, .1);
  position: relative;
}

/*.active::before {
  content: '';
  width: 3px;
  height: 20px;
  background: #d12323;
  position: absolute;
  left: 0;
  top: 4px;
}*/

.playing-pad {
  height: 86px;
  width: 200px;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.playing-info {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.song-name {
  color: #444;
  width: 80px;
  font-size: 14px;
}

.singer {
  color: #aaa;
  font-size: 13px;
}

.right-pad {
  width: calc(100vw - 200px);
  padding-left: 10px;
  background: #fafafa;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  border-top: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.48);
  line-height: 65px;
  padding-right: 15px;
}
