.header {
  height: 60px;
  width: 100vw;
  background-color: #b52820;
  z-index: 100;
  cursor: default;
}

.bar-sec {
  padding-top: 30px;
  display: inline-block;
}

.inline {
  display: inline-block;
}

.left-sec {
  position: relative;
  width: calc(100vw - 60px);
}
