.header {
  height: 60px;
  width: 100vw;
  background-color: #b52820;
  z-index: 100;
  cursor: default;
}

.bar-sec {
  padding-top: 30px;
  display: inline-block;
}

.inline {
  display: inline-block;
}

.left-sec {
  position: relative;
  width: calc(100vw - 60px);
  height: 100%;
  border-right: 1px solid #95211a;
  padding-right: 20px;
}

.router-search-wp {
  position: absolute;
  top: 28px;
  left: 240px;
}

.search-ipt {
  margin-left: 20px;
  padding: 5px 10px 5px 25px;
  width: 200px;
  border-radius: 50px;
}
